.landing {
	padding-top: 40px;

	h1, h2 {
		color: @black;
		font-family: 'Josefin Sans', sans-serif;
		font-size: @baseFontSize * 4;
		font-weight: 100;
		line-height: @baseLineHeight * 3;
	}
	
	h1 {
		margin: 0 0 40px;
	}
	
	h2 {
		text-align: center;
	}
	
	hr {
		margin: 40px 0;
	}
}