.post-container {
}

.post-meta {
	h1 {
		color: #4673A6;
		font-family: georgia, "times new roman", serif;
		font-size: @baseFontSize * 3;
		font-weight: normal;
		line-height: @baseLineHeight * 3;
		text-shadow: 0 1px 1px @grayLighter;
	}
	
	h2 {
		color: @black;
		font-family: georgia, "times new roman", serif;
		font-size: @baseFontSize * 1.5;
		line-height: @baseLineHeight * 1.5;
	}
}

.post {
}