@objectosBlue: 	#2E4971;
@herobg: 		#292929;

.fixed(@top: 0, @left: 0, @right: 0) {
	position: fixed;
	top: @top;
	left: @left;
	right: @right;
	z-index: 10000;
	overflow: visible;
}

.navbar {
	.navbar-inner {
		background: @objectosBlue;
		.box-shadow(0 1px 4px @grayLight);
		height: 60px;		
	}
}

#hd {
	border-bottom: 1px solid @grayLight;
	height: @hdHeight;

	#hd-inner {
	}
	
	.hd {
		h1, h2 {
			#font > #family > .sans-serif;
			font-weight: bold;
			font-size: @baseFontSize;
			line-height: @baseLineHeight;
	
			margin: 0;
		}
		
		h2 {
			color: @grayLight;
		}
		 
		.objectos {
			color: lighten(@objectosBlue, 25%);
		}
	}
	
	.obj-link {
		display: block;
		padding: 42px 15px;
	}
	
	ul.nav {
		.clearfix();
		padding: 34px 0;
	
		li {
			float: left;
			width: 60px;
			
			a:hover {
				background: transparent;
			}
		}
	}
}

#bd {
	background-color: @white;
}

#ft {
	background-color: #2E4971;
	border-top: 2px solid #C0C0C0;
	margin-top: 120px;
	min-height: 800px;
	padding-top: 40px;
  
	a {
		color: #C0D0E8;
		text-decoration: underline;	
	}
	
	h1, h2, h3, h4, h5, h6 {
		.sans-serif(2.4);
		color: #F0F0F0;
		font-weight: normal;
		
		margin-bottom: 20px;
	}
	
	h1, h2, h3, h4, h5, h6, p, ul, li {
		color: #d0d0d0;
		text-align: left;
		text-shadow: 1px 1px 1px #000000;
	}
	
	.address {
		li {
			.sans-serif(1.2);
		}
	}
	
	.copyright {
		margin-bottom: 20px;
		
		p {
			.sans-serif(1.2);
			margin: 0;
		}
	}
	
	.credits {
		.sans-serif(1.1);
	}
}

#splash {
	background: url('../../img/dojo-book.jpg') no-repeat center top;
	border-top: 1px solid @grayDark;
	border-bottom: 1px solid @grayDark;
	height: 250px;
	
	h1, h2 {
		margin: 0;
	
		color: @white;
		font-family: 'Josefin Sans', sans-serif;
		font-size: @baseFontSize * 4;
		font-weight: 100;
		line-height: @baseLineHeight * 4;
		//text-align: center;
		text-shadow: 1px 1px 1px @black;
	}
	
	h1 {
		margin-top: 40px;
	}
}