body.landing {
	background: url('../../img/noise.png');

	#hd {
		background: @white;
		margin-bottom: 50px;
	}
	
	.wellcome {
		background: @black;
		padding: 40px 0;
				
		h1, h2 {
			font-weight: normal;
		}
		
		h1 {
			.sans-serif(4);
			color: @white;
			margin-bottom: 20px;
		}
		
		h2 {
			.sans-serif(2);
			color: @grayLight;
		}

		p {
			color: @white;
			.sans-serif(1.4);
		}

		.mkt {
			padding-left: 60px;
		}
		
		.share {
			padding-top: 20px;
			padding-right: 60px;
			
			ul.links {
				.clearfix();
				
				li {
					float: left;
					margin-right: 20px;
				}
			}
		}
	}
	
	.hero {
		.box-shadow();
		background: @white url('../../img/dojo-board.jpg') no-repeat left top;
		height: 540px;
		
		p, li {
			.sans-serif(1.2);
		}
	}
	
	.contribute {
		h1, h2 {
			.serif(4);
			color: @black;
			font-weight: normal;
		}
	}

	.landing {
		h1, h2 {
			.serif(4);
			color: @black;
			font-weight: normal;
		}
		
		h1 {
			margin: 0 0 40px;
		}
		
		h2 {
			text-align: center;
		}
		
		hr {
			margin: 40px 0;
		}
		
		p, li {
			.sans-serif(1.2);
			.serif(1.8);
		}
	
	}
}