<div id="hd">
  <div id="hd-inner" class="container hd">
    <div class="row">
      <div class="span7">
        <h1><a href="http://www.objectos.com.br"><img src="{{ site.baseurl }}/img/logo-dojo-brand.png" /></h1>
      </div>
      <div class="span4">
        <ul class="unstyled nav">
          <li><a href="/"><img src="{{ site.baseurl }}/img/home.png" /> Início</a></li>
          <li><a href="/"><img src="{{ site.baseurl }}/img/tools.png" /> Caixa de ferramentas</a></li>
          <li><a href="/"><img src="{{ site.baseurl }}/img/map_pin.png" /> Procedimentos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
