<div id="ft">
  <div class="container">
    <div class="row">
      <div class="span4">
        &nbsp;
      </div>
      <div class="span4">
        &nbsp;
      </div>
      <div class="span4">
        <h2>objectos, Fábrica de Software LTDA</h2>
        <ul class="unstyled address">
           <li>R. Demóstenes, 627. cj 123</li>
           <li>04614-013 - Campo Belo</li>
           <li>São Paulo - SP - Brasil</li>
           <li>+55 11 5093-8640</li>
           <li>+55 11 2359-8699</li>
           <li><a href="mailto:contato@objectos.com.br">contato@objectos.com.br</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2012 objectos, Fábrica de Software LTDA</p>
      <p>Código, conteúdo e design desenvolvido pela <a href="http://www.objectos.com.br">objectos</a> para o mundo.</p>
      <p>
        Todo o código é distribuído através da licença <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2</a>.
      </p>
      <p>
        Todo os artigos são distribuídos pela licença <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY NC ND 3.0</a>
      </p>
    </div>
    <div class="credits">
      <ul class="unstyled">
        <li>Fontes por <a href="http://typekit.com">TypeKit</a></li>
        <li>Ícones por <a href="http://dryicons.com">DryIcons</a></li>
      </ul>
    </div>
  </div>
</div>