---
layout: base
styleClass: post
---
<div class="container page">
  <div class="post">
    <div class="post-hd">
      <h1 class="title">{{ page.title }}</h1>
      <ul class="post-meta unstyled">
        {% if page.author %}
        <li class="author"><span class="by">por</span> <a href="{{ site.baseurl }}/autor/{{ page.user }}.html">{{ page.author }}</a></li>
        {% endif %}
        {% if page.date %}
        <li class="date">{{ page.date | date: "%d %B %Y" }}</li>
        {% endif %}
      </ul>
    </div>
    
    <div class="post-bd">
      {{ content }}
    </div>
  </div>
</div>